/* div {
  width: 200px;
  height: 200px;
} */

.my {
  background-color: rgb(194, 194, 194);
  width: 200px;
  height: 200px;
}

#app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 30px;
  position: relative;
}

#controller {
  position: absolute;
  left: 10px;
  top: 10px;

}

.controllerRight, .controllerLeft, .controllerTop, .controllerBottom {
  cursor: pointer;
  background: grey;
  border-radius: 5px;
  padding: 10px;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#playground {
  width: 80%;
  height: 80vh;
  border: 1px solid black
}

#player {
  width: 50px;
  height: 30px;
  border-radius: 10px;
  background: black;
}

.tree {
  background-image: url("./assets/tree.png");
  background-size: contain;
  background-position: center;
  width: 30px;
  height: 30px;
  position: relative;
  left: 300px;
  top: 150px;
}

.stopPlayer {
  padding: 10px;
  background: grey;
  color: white;
  border-radius: 10px;
}